name: Test

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.FOR_NETBEANS_PAT }}
      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          echo "Update from workflow" >> log.txt
          git add .
          git commit -m "Automated update" || echo "No changes to commit"
          git push
